<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <description/>
        <display-name>CaseStageController</display-name>
        <servlet-name>CaseStageController</servlet-name>
        <servlet-class>com.cts.controller.CaseStageController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CategoryController</display-name>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>com.cts.controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>AdvocateController</display-name>
        <servlet-name>AdvocateController</servlet-name>
        <servlet-class>com.cts.controller.AdvocateController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>UserController</display-name>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.cts.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ClientController</display-name>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>com.cts.controller.ClientController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.cts.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>LogOutController</display-name>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>com.cts.controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CourtController</display-name>
        <servlet-name>CourtController</servlet-name>
        <servlet-class>com.cts.controller.CourtController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>DocumentController</display-name>
        <servlet-name>DocumentController</servlet-name>
        <servlet-class>com.cts.controller.DocumentController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CaseMasterController</display-name>
        <servlet-name>CaseMasterController</servlet-name>
        <servlet-class>com.cts.controller.CaseMasterController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CaseDetailController</display-name>
        <servlet-name>CaseDetailController</servlet-name>
        <servlet-class>com.cts.controller.CaseDetailController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CaseDocumentController</display-name>
        <servlet-name>CaseDocumentController</servlet-name>
        <servlet-class>com.cts.controller.CaseDocumentController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>DashBoardController</display-name>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>com.cts.controller.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ARCILBoardController</display-name>
        <servlet-name>ARCILBoardController</servlet-name>
        <servlet-class>com.cts.controller.ARCILBoardController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CasePaymentsController</display-name>
        <servlet-name>CasePaymentsController</servlet-name>
        <servlet-class>com.cts.controller.CasePaymentsController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CaseExpensesController</display-name>
        <servlet-name>CaseExpensesController</servlet-name>
        <servlet-class>com.cts.controller.CaseExpensesController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ChangePasswordController</display-name>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>com.cts.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CaseTaskController</display-name>
        <servlet-name>CaseTaskController</servlet-name>
        <servlet-class>com.cts.controller.CaseTaskController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>TaskUpdateController</display-name>
        <servlet-name>TaskUpdateController</servlet-name>
        <servlet-class>com.cts.controller.TaskUpdateController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CaseReportsController</display-name>
        <servlet-name>CaseReportsController</servlet-name>
        <servlet-class>com.cts.controller.CaseReportsController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SCasePaymentsController</display-name>
        <servlet-name>SCasePaymentsController</servlet-name>
        <servlet-class>com.cts.controller.SCasePaymentsController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ClientCaseDetailsController</display-name>
        <servlet-name>ClientCaseDetailsController</servlet-name>
        <servlet-class>com.cts.controller.ClientCaseDetailsController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ClientDashBoardController</display-name>
        <servlet-name>ClientDashBoardController</servlet-name>
        <servlet-class>com.cts.controller.ClientDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>RNDServlet</display-name>
        <servlet-name>RNDServlet</servlet-name>
        <servlet-class>com.cts.controller.RNDServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>UserProfileController</display-name>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>com.cts.controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>ForgetPasswordController</display-name>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>com.cts.controller.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>AddCaseDocument</display-name>
        <servlet-name>AddCaseDocument</servlet-name>
        <servlet-class>com.cts.controller.AddCaseDocument</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaseStageController</servlet-name>
        <url-pattern>/CaseStageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvocateController</servlet-name>
        <url-pattern>/AdvocateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/ClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourtController</servlet-name>
        <url-pattern>/CourtController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentController</servlet-name>
        <url-pattern>/DocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseMasterController</servlet-name>
        <url-pattern>/CaseMasterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseDetailController</servlet-name>
        <url-pattern>/CaseDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseDocumentController</servlet-name>
        <url-pattern>/CaseDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/DashBoardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ARCILBoardController</servlet-name>
        <url-pattern>/ARCILBoardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CasePaymentsController</servlet-name>
        <url-pattern>/CasePaymentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseExpensesController</servlet-name>
        <url-pattern>/CaseExpensesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseTaskController</servlet-name>
        <url-pattern>/CaseTaskController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskUpdateController</servlet-name>
        <url-pattern>/TaskUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaseReportsController</servlet-name>
        <url-pattern>/CaseReportsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCasePaymentsController</servlet-name>
        <url-pattern>/SCasePaymentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientCaseDetailsController</servlet-name>
        <url-pattern>/ClientCaseDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientDashBoardController</servlet-name>
        <url-pattern>/ClientDashBoardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RNDServlet</servlet-name>
        <url-pattern>/RNDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/ForgetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCaseDocument</servlet-name>
        <url-pattern>/AddCaseDocument</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <welcome-file-list>
        <welcome-file>ctsLogin.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>
</web-app>
